$darkish-purple: #54166e;
$eggplant: #320d42;
$heather: #baa1c5;
$barney: #ba25b2;
$pale-grey: #f4f1f5;
$heather-two: #a98ab6;
$pale-grey-two: #dcd0e2;
$pale-grey-three: #ede7f0;
$peacock-blue: #0054a6;
$medium-green: #39b54a;
$medium-pink: #f06292;
$tomato: #e53935;
$macaroni-and-cheese: #f1af2c;
$tealish: #2fbbb7;
$faded-blue: #7986cb;
$pale-teal: #80cbc4;
$grey-purple: #7e6787;
$pale-rose: #f8bbd0;
$light-blue: #90caf9;
$eggplant-two: #2a0b37;
$grey-blue: #87adbd;
$cloudy-blue-two: #c9dae1;
$white: #ffffff;
$black: #000000;
$pale-olive-green: #a5dc86;
$greyish-brown: #595959;
$azure: #28B7F4;
$dusty-orange: #f59637;
$emerald: #00a651;
$blush: #F37574;
$carolina-blue: #82b1ff;
$soft-blue: #5889e2;
$soft-green: #63ce71;
$soft-pink: #ff94c3;
$soft-tomato: #ff6456;
$soft-macaroni-and-cheese: #ffce4c;
$soft-tealish: #5cded9;
$soft-faded-blue: #9dabf3;
$cloudy-blue: #cbb9d3;
$greyish: #b7b7b7;
$peach: #f8bb86;
$light-tan: #facea8;
$robin-s-egg-blue: #9de0f6;
$dark-sky-blue: #3fc3ee;
$dark-lilac: #9873a8;
$tomato-two: #f44336;
$cloudy-blue-three: #cdbcd4;
$purple-pink: #d42acb;
$purple: #a1209a;
$cloudy-blue-four: #d6c8dc;
$lightish-blue: #3c5afd;
$dodger-blue: #4489ff;
$azure-two: #29b6f6;
$dark-sky-blue-two: #29aae2;
$cloudy-blue: #cbb9d3;
$dodger-blue-two: #42a5f5;
$faded-grey: #ae9eb4;
$dark-grey: #999999;
$light-grey: #e9edeb;
$light-grey-two: #ebebeb;
$dark-grey-two: #bbbbbb;
$button-primary: $barney;
$button-primary-text: $white;
$cerulean-blue: #007af1;
$sky-blue: #66aff7;
$pinky: #fc85ad;
$pale-rose-two: #fdc2d6;
$pastel-red: #ea605d;
$maize: #f4be55;
$seafoam-blue: #58c8c5;
$seafoam-blue-two: #82d5d3;
$light-grey-blue: #939ed4;


$colours: (darkish-purple $darkish-purple)
  (eggplant $eggplant)
  (heather $heather)
  (barney $barney)
  (pale-grey $pale-grey)
  (heather-two $heather-two)
  (pale-grey-two $pale-grey-two)
  (pale-grey-three $pale-grey-three)
  (peacock-blue $peacock-blue)
  (medium-green $medium-green)
  (medium-pink $medium-pink)
  (tomato $tomato)
  (macaroni-and-cheese $macaroni-and-cheese)
  (tealish $tealish)
  (faded-blue $faded-blue)
  (pale-teal $pale-teal)
  (grey-purple $grey-purple)
  (pale-rose $pale-rose)
  (light-blue $light-blue)
  (eggplant-two $eggplant-two)
  (white $white)
  (greyish-brown, $greyish-brown)
  (azure, $azure)
  (dusty-orange $dusty-orange)
  (emerald $emerald)
  (blush, $blush)
  (grey-blue $grey-blue)
  (cloudy-blue-two $cloudy-blue-two)
  (pale-olive-green $pale-olive-green)
  (cloudy-blue $cloudy-blue)
  (greyish $greyish)
  (pale-olive-green $pale-olive-green)
  (soft-blue $soft-blue)
  (soft-green $soft-green)
  (soft-pink $soft-pink)
  (soft-tomato $soft-tomato)
  (soft-macaroni-and-cheese $soft-macaroni-and-cheese)
  (soft-tealish $soft-tealish)
  (soft-faded-blue $soft-faded-blue)
  (peach $peach)
  (light-tan $light-tan)
  (robin-s-egg-blue $robin-s-egg-blue)
  (dark-sky-blue $dark-sky-blue)
  (dark-lilac $dark-lilac)
  (tomato-two $tomato-two)
  (carolina-blue $carolina-blue)
  (cloudy-blue-three $cloudy-blue-three)
  (purple-pink $purple-pink)
  (purple $purple)
  (cloudy-blue-four $cloudy-blue-four)
  (greyish $greyish)
  (lightish-blue $lightish-blue)
  (dodger-blue $dodger-blue)
  (azure-two $azure-two)
  (dark-sky-blue-two $dark-sky-blue-two)
  (cerulean-blue $cerulean-blue)
  (sky-blue $sky-blue)
  (pinky $pinky)
  (pale-rose-two $pale-rose-two)
  (pastel-red $pastel-red)
  (maize $maize)
  (seafoam-blue $seafoam-blue)
  (seafoam-blue-two $seafoam-blue-two)
  (light-grey-blue $light-grey-blue)
  (cloudy-blue $cloudy-blue)
  (dodger-blue-two $dodger-blue-two)
  (faded-grey $faded-grey)
  (light-grey $light-grey)
  (light-grey-two $light-grey-two)
  (dark-grey-two $dark-grey-two)
  (dark-grey $dark-grey)
  (dodger-blue-two $dodger-blue-two);


