/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
//.dataTables_empty {
//    display: none;
//}

.user-table{
    width: 100% !important;
}
.btn-space {
    margin-right: 5px;
}

.wrapper .btn{
    width: 100%;
}
.button {
    display: none;
}
.wrapper:hover div {
    /* Change the filter in here */
}
.wrapper:hover .button {
    display: inline-block;
}

