<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <!--Client Admin Menu-->
    <div class="list-group"  *ngIf="estimator > 0 && roleName=='Client Admin'">
        <a routerLink="/estimate/create" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Create Estimate' | translate }}
        </a>
        <a routerLink="/estimate/manage-estimates" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;{{ 'My Estimate' | translate }}
        </a>

        <a routerLink="/estimate/group-estimates" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-print"></i>&nbsp;{{ 'Group Estimate' | translate }}
        </a>

        <a  routerLink="/general-info"  [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-sitemap"></i>&nbsp;{{ 'General Info' | translate }}
        </a>

        <a (click)="returnMain()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-chevron-left"></i>&nbsp;{{ 'Return' | translate }}
        </a>

        <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
            <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
        </a>
    </div>

    <div class="list-group"  *ngIf="estimateId > 0 && roleName=='Client Admin'">
        <a  (click)="gotoEarlyEstimatorHome()"  routerLink="/dashboard"  [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Early Estimator Home' | translate }}
        </a>
        <a routerLink="/estimate/estimated-item" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-meetup"></i>&nbsp;{{ 'Estimate Detail' | translate }}
        </a>
        <a routerLink="/estimate/create" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-meetup"></i>&nbsp;{{ 'Setup' | translate }}
        </a>
        <a routerLink="/estimate/item" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Add Item' | translate }}
        </a>
        <a routerLink="/estimate/cbd" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-sitemap"></i>&nbsp;{{ 'Cost Break Down' | translate }}
        </a>
        <a routerLink="/estimate/document" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-file-o"></i>&nbsp;{{ 'Upload Documents' | translate }}
        </a>
        <a routerLink="/estimate/markups" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;{{ 'Summary' | translate }}
        </a>
        <a routerLink="/estimate/print" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-print"></i>&nbsp;{{ 'Print' | translate }}
        </a>

        <a  (click)="returnMain()" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-chevron-left"></i>&nbsp;{{ 'Return to Dashboard' | translate }}
        </a>

        <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
            <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
        </a>


    <div class="list-group"  *ngIf="estimateId > 0 && roleName=='Client'">
            <a routerLink="/estimate/estimated-item" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-meetup"></i>&nbsp;{{ 'Estimate Detail' | translate }}
            </a>
            <a routerLink="/estimate/create" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-meetup"></i>&nbsp;{{ 'Setup' | translate }}
            </a>
            <a routerLink="/estimate/item" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Add Item' | translate }}
            </a>
            <a routerLink="/estimate/cbd" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-sitemap"></i>&nbsp;{{ 'Cost Break Down' | translate }}
            </a>
            <a routerLink="/estimate/document" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-file-o"></i>&nbsp;{{ 'Upload Documents' | translate }}
            </a>
            <a routerLink="/estimate/markups" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;{{ 'Summary' | translate }}
            </a>
            <a routerLink="/estimate/print" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-print"></i>&nbsp;{{ 'Print' | translate }}
            </a>

            <a  (click)="returnMain()" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-chevron-left"></i>&nbsp;{{ 'Return to Dashboard' | translate }}
            </a>

            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>

        </div>
    </div>

    <div class="list-group" *ngIf="roleName=='Client Admin'">
        <div *ngIf="estimatorClientAdminMainMenu == 0 && estimatorClientAdmin == 0 && estimateId == 0">
            <a  routerLink="/general-info"  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-sitemap"></i>&nbsp;{{ 'Manage General Info' | translate }}
            </a>

            <a  routerLink="/general-info"  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-sitemap"></i>&nbsp;{{ 'Manage Logo' | translate }}
            </a>
            <a (click)="gotoEarlyEstimatorHomeClientAdmin()"  routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Early Estimator' | translate }}
            </a>
            <a (click)="gotoEarlyEstimatorClientAdmin()"  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Early Estimator Admin' | translate }}
            </a>
            <a [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Module 2' | translate }}
            </a>
            <a [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Module 2 Admin' | translate }}
            </a>
            <a  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Module 3' | translate }}
            </a>
            <a  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Module 3 Admin' | translate }}
            </a>

            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>
        </div>
        <div class="list-group"  *ngIf=" estimatorClientAdmin > 0 && estimateId == 0 ">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Early Estimator Home' | translate }}
            </a>
            <a routerLink="/estimate/create" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-plus-circle"></i>&nbsp;{{ 'Create/Setup' | translate }}
            </a>
            <a routerLink="/estimate/manage-estimates" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;{{ 'My Estimates' | translate }}
            </a>

            <a routerLink="/estimate/group-estimates" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-print"></i>&nbsp;{{ 'Group Estimates' | translate }}
            </a>

            <a (click)="gotoClientAdminDashboard()" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-chevron-left"></i>&nbsp;{{ 'Return to Dashboard' | translate }}
            </a>

            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>
        </div>

        <div class="list-group"  *ngIf=" estimatorClientAdminMainMenu > 0 ">
            <a [routerLink]="['/manage-clients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-users"></i>&nbsp;{{ 'Manage Users' | translate }}
            </a>
            <a [routerLink]="['/estimate/manage-estimates']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-adjust"></i>&nbsp;{{ 'Manage Estimates' | translate }}
            </a>
            <a [routerLink]="['/manage-item']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-building"></i>&nbsp;{{ 'Manage Data Items' | translate }}
            </a>
            <!--<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
                <!--<i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}-->
            <!--</a>-->
            <a [routerLink]="['/manage-categories']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-calendar-times-o"></i>&nbsp;{{ 'Manage Categories' | translate }}
            </a>
            <a [routerLink]="['/manage-subcategories']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-object-ungroup"></i>&nbsp;{{ 'Manage Sub Categories' | translate }}
            </a>
            <a [routerLink]="['/manage-groups']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-object-group"></i>&nbsp;{{ 'Manage Groups' | translate }}
            </a>
            <a [routerLink]="['/manage-units']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-balance-scale"></i>&nbsp;{{ 'Manage Units' | translate }}
            </a>
            <a [routerLink]="['/manage-project-manager']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Manage Project Manager' | translate }}
            </a>
            <a [routerLink]="['/user-group']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-automobile"></i>&nbsp;{{ 'Assign Group' | translate }}
            </a>

            <a (click)="gotoClientAdminDashboard()" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Return to Dashboard' | translate }}
            </a>
            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>
        </div>

    </div>
    <!--End Client Admin Menu-->
     <!--Client Menu-->
    <div class="list-group" *ngIf="roleName=='Client'">
        <div *ngIf="estimator == 0 && estimateId == 0">
            <a  routerLink="/general-info"  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-sitemap"></i>&nbsp;{{ 'General Info' | translate }}
            </a>
            <a (click)="gotoEarlyEstimatorHome()"  routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Early Estimator Home' | translate }}
            </a>
            <a [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Module 2' | translate }}
            </a>
            <a  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-group"></i>&nbsp;{{ 'Module 3' | translate }}
            </a>
            <!--<a [routerLink]="['/manage-estimates']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Manage Estimates' | translate }}-->
            <!--</a>-->
            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>
        </div>
        <div class="list-group"  *ngIf=" estimator > 0 ">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Early Estimator Home' | translate }}
            </a>
            <a routerLink="/estimate/create" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Create/Setup' | translate }}
            </a>
            <a routerLink="/estimate/manage-estimates" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;{{ 'My Estimates' | translate }}
            </a>

            <a routerLink="/estimate/group-estimates" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-print"></i>&nbsp;{{ 'Group Estimates' | translate }}
            </a>

            <a (click)="gotoUserDashboard()" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-chevron-left"></i>&nbsp;{{ 'Return to Dashboard' | translate }}
            </a>

            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>
        </div>

        <div class="list-group"  *ngIf="estimateId > 0 && roleName=='Client'">
            <a  (click)="gotoEarlyEstimatorHome()"  routerLink="/dashboard"  [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Early Estimator Home' | translate }}
            </a>
               <a routerLink="/estimate/estimated-item" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-meetup"></i>&nbsp;{{ 'Estimate Detail' | translate }}
                </a>
                <a routerLink="/estimate/create" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-sellsy"></i>&nbsp;{{ 'Setup' | translate }}
                </a>
                <a routerLink="/estimate/item" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-ioxhost"></i>&nbsp;{{ 'Add Item' | translate }}
                </a>
                <a routerLink="/estimate/cbd" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-sitemap"></i>&nbsp;{{ 'Cost Break Down' | translate }}
                </a>
                <a routerLink="/estimate/document" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-file-o"></i>&nbsp;{{ 'Upload Documents' | translate }}
                </a>
                <a routerLink="/estimate/markups" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;{{ 'Summary' | translate }}
                </a>
                <a routerLink="/estimate/print" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-print"></i>&nbsp;{{ 'Print' | translate }}
                </a>

                <a  (click)="returnDashboard()" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-chevron-left"></i>&nbsp;{{ 'Return to Dashboard' | translate }}
                </a>

                <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                    <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
                </a>


        </div>

    </div>
    <!--End Client Menu-->
    <div  *ngIf="estimateId == 0 && estimator == 0">
        <div class="list-group" *ngIf="roleName=='Admin'">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
            </a>
            <a [routerLink]="['/manage-users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Manage Users' | translate }}
            </a>
            <a [routerLink]="['/manage-affiliates']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Manage Affiliates' | translate }}
            </a>
            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>
        </div>

        <div class="list-group" *ngIf="roleName=='Affiliate'">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
            </a>
            <a [routerLink]="['/manage-organizations']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Manage Clients' | translate }}
            </a>
            <a   href="javascript:void(0)"  (click)="onLoggedout()" class="list-group-item">
                <i class="fa fa-fw fa-sign-out"></i>&nbsp;{{ 'Log Out' | translate }}
            </a>
        </div>




    </div>


        <!--<a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}-->
        <!--</a>-->
        <!--<a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}-->
        <!--</a>-->
        <!--<a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}-->
        <!--</a>-->
        <!--<a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}-->
        <!--</a>-->
        <!--<a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}-->
        <!--</a>-->
        <!--<div class="nested-menu">-->
            <!--<a class="list-group-item" (click)="addExpandClass('pages')">-->
                <!--<span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>-->
            <!--</a>-->
            <!--<li class="nested" [class.expand]="showMenu === 'pages'">-->
                <!--<ul class="submenu">-->
                    <!--<li>-->
                        <!--<a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</div>-->
        <!--<a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">-->
            <!--<i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}-->
        <!--</a>-->
        <!--<a class="list-group-item more-themes" href="http://www.strapui.com/" >-->
            <!--{{ 'More Theme' | translate }}-->
        <!--</a>-->
        <!--<div class="header-fields">-->
            <!--<a (click)="rltAndLtr()" class="list-group-item">-->
                <!--<span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>-->
            <!--</a>-->
            <!--<div class="nested-menu">-->
                <!--<a class="list-group-item" (click)="addExpandClass('languages')">-->
                    <!--<span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>-->
                <!--</a>-->
                <!--&lt;!&ndash;<li class="nested" [class.expand]="showMenu === 'languages'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="submenu">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)" (click)="changeLang('en')">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ 'English' | translate }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)" (click)="changeLang('fr')">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ 'French' | translate }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)" (click)="changeLang('ur')">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ 'Urdu' | translate }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)" (click)="changeLang('es')">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ 'Spanish' | translate }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)" (click)="changeLang('it')">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ 'Italian' | translate }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)" (click)="changeLang('fa')">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ 'Farsi' | translate }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)" (click)="changeLang('de')">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{ 'German' | translate }}&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="nested-menu">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="list-group-item" (click)="addExpandClass('profile')">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span><i class="fa fa-user"></i>&nbsp; John Smith</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="nested" [class.expand]="showMenu === 'profile'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="submenu">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:void(0)">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a [routerLink]="['/login']" (click)="onLoggedout()">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

</nav>
