<h2>Assign User Group</h2>
<br/>
<hr>

<form [formGroup]="userGroupForm" (ngSubmit)="onSubmit(userGroupForm.value)">
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label> User name</label>
            <select class="form-control" formControlName='ContactId' class="form-control" (change)="onContactChange($event.target.value)"

            [ngClass]="{ 'is-invalid': submitted && f.ContactId.errors }">
            <option value="">Please select</option>
            <option *ngFor="let user of userModel" [value]="user.ContactId">{{user.FirstName}} {{user.LastName}}</option>
            </select>

        </div>

        <div class="form-group">
            <label> Group</label>
            <div class="checkbox-list">
                <div *ngFor="let group of groupsModel">

                    <input type="checkbox"  [ngModelOptions]="{standalone: true}" (change)="onChange(group.LTagId, $event.target.checked)" [(ngModel)]="group.Checked"> {{group.TagDescr}}<br>
                </div>
            </div>
        </div>
    </div>

</div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">{{btnName}}</button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <a onclick="window.history.back();" class="btn btn-link">Cancel</a>
    </div>
</form>
