h5 {
    color: #00b3ee;
}

.label-disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.markup-table{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.bold-text{
    font-weight: bold;
}
.btn-space {
    margin-right: 5px;
}

